body,div,ul,li {
	margin: 0;
	padding: 0;
	font-family: 宋体, Arial;
	font-size: 12px;
}
html,body {
	width: 100%;
	height: 100%;
	background: url(../../public/images/login-background.jpg) 0 0 repeat;
}

li {
	list-style-type: none;
}

.denglubody {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -270px;
	margin-top: -164px;
	width: 602px;
	height: 267px;
	background: url(../../public/images/denglu.gif) 0 0 no-repeat;
}

.denglushuru {
    float: right;
	margin-top: 52px;
	width: 238px;
/*	height: 130px;  */
	padding-right: 58px;
}

.updatepwd {
    float: right;
	margin-top: 42px;
	width: 250px;
/*	height: 130px;  */
	padding-right: 58px;
}

.denglu_list {
	height: 130px;
}

.denglu_list li {
	height: 24px;
	padding-bottom: 10px;

}

.denglu_list li span {
	width: 60px;
	float: left;
	text-align: right;
	color: #103762;
	line-height: 24px;
}

.denglu_list li input {
	height: 25px;
	float: left;
	line-height: 25px;
	padding-left: 5px;
	font-size: 12px;
	color: #454545;
	border: 1px solid #7F9DB9;
}

.denglu_list li .denglu {
	width: 165px;
}

.yanzheng input {
	width: 60px;
	float: right;
}

.yanzheng a {
	line-height: 24px;
	width: 36px;
	text-align: center;
}

.denglu_list li .yanzhengma {
	width: 100px;
	display: block;
	padding-left: 2px;
	text-align: center;
	float: left;
}
#versionFont{
	font-weight:bolder;
	font-size: 18px;
	font-family:"黑体";
	color: red;
	margin-left: 225px;
	margin-top: 125px;
	float: left;
	position: absolute;
}
/*
.denglu_but {
	width: 88px;
	height: 31px;
	background: url("../../public/images/denglu_but.png") 0 0 no-repeat;
	border: none;
	float: left;margin-left: 135px;
	margin-top: 9px;
	cursor:pointer;
}
*/
/***************************软键盘的css*************************/
.btn_letter {
	BORDER-BOTTOM: #5c08b2; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff, EndColorStr=#DDDCDC); BORDER-LEFT: #7b9ebd; COLOR: #075bc3; BORDER-TOP: #7b9ebd; BORDER-RIGHT: #5c08b2;
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px;FONT-SIZE: 12px; BORDER-LEFT: 1px solid; CURSOR: pointer;PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid; width:25px; height:20px;
}

.btn_num {
	BORDER-BOTTOM: #7ebf4f; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997); BORDER-LEFT: #7ebf4f; COLOR: black; BORDER-TOP: #7ebf4f; BORDER-RIGHT: #7ebf4f;
	width:25px;BORDER-RIGHT:1px solid; PADDING-RIGHT: 1px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; BORDER-LEFT: 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: 1px solid;height:20px;
}
.table_title { height:26px;padding-top: 3px;FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#B2DEF7, EndColorStr=#7AB7DA);}
.btn_input { COLOR: black; BORDER: #2C59AA 1px solid; FONT-SIZE: 12px; 
}
/***************************软键盘的css*************************/
/************dwr Ajax div************/
#imgBgDiv{
	position:absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=20);
	opacity: 0.2;
	background-color: white;
	z-index: 1000;
}
#imageZone{
	position:absolute;
	z-index: 1001;
	filter:alpha(opacity=80);
}
/************dwr Ajax div************/

.ocx_style {
	border: 1px solid #7F9DB9;
	width: 173px !important;
	height: 25px;
	line-height: 25px;
}