<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <listener>
		<listener-class>com.rongyifu.mms.ewp.InitPosServer</listener-class>
  </listener> 
  <listener>
  		<listener-class>com.rongyifu.mms.datasync.DataSyncListener</listener-class>
  </listener>
  <listener>
  		<listener-class>com.rongyifu.mms.listener.TradeDataSync</listener-class>
  </listener>
  <listener>
  	<listener-class>com.rongyifu.mms.quartz.QuartzAutoStartListener</listener-class>
  </listener> 
  <listener>
  	<listener-class>com.rongyifu.mms.listener.MySessionContext</listener-class>
  </listener> 
  <!--
  <listener>
  	<listener-class>com.rongyifu.mms.ewp.InitCancelServer</listener-class>
  </listener>
   -->
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.rongyifu.mms.filter.AdminFilter</filter-class>
  </filter>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.rongyifu.mms.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/jsp/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/mer/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>proxoolServlet</servlet-name>
    <servlet-class>com.rongyifu.mms.common.ProxoolServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>allowScriptTagRemoting</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>org.directwebremoting.extend.Remoter</param-name>
      <param-value>com.rongyifu.mms.filter.MyDWRRemoter</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.rongyifu.mms.servlet.CheckCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>go</servlet-name>
    <servlet-class>com.rongyifu.mms.ewp.Invoker</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RecvPayResult</servlet-name>
    <servlet-class>com.rongyifu.mms.ewp.RecvPayResult</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.rongyifu.mms.ewp.test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReconciliationInterface</servlet-name>
    <servlet-class>com.rongyifu.mms.servlet.ReconciliationInterface</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandlerPic</servlet-name>
    <servlet-class>com.rongyifu.mms.servlet.HandlerPic</servlet-class>
  </servlet>
   <!-- RefreshMinfoAndGateConfig -->
  <servlet>
   <servlet-name>RefreshMinfoAndGateConfig</servlet-name>
   <servlet-class>com.rongyifu.mms.ewp.RefreshMinfoAndGateConfig</servlet-class>
  </servlet>
  <!-- InitPosServer -->
  <!-- <servlet>
	  <servlet-name>InitPosServer</servlet-name>
	  <servlet-class>com.rongyifu.mms.ewp.InitPosServer</servlet-class>
	  <load-on-startup>1</load-on-startup>
  </servlet> -->
  <!-- GetSuperBankId -->
   <servlet> 
	  <servlet-name>GetSuperBankId</servlet-name>
	  <servlet-class>com.rongyifu.mms.servlet.GetSuperBankId</servlet-class>
	</servlet>
  <servlet>
  	<servlet-name>uploadFile</servlet-name>
  	<servlet-class>com.rongyifu.mms.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>monitorApi</servlet-name>
  	<servlet-class>com.rongyifu.mms.servlet.MonitorApi</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>out</servlet-name>
  	<servlet-class>com.rongyifu.mms.servlet.OutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>in</servlet-name>
  	<servlet-class>com.rongyifu.mms.servlet.InServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>remoteService</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>   
		<param-name>contextConfigLocation</param-name>   
		<param-value>classpath:rmi_service_context.xml</param-value>
	</init-param>   
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>remoteService</servlet-name>
    <url-pattern>/rmi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>monitorApi</servlet-name>
  	<url-pattern>/monitorApi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>go</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/CheckCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecvPayResult</servlet-name>
    <url-pattern>/payret</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReconciliationInterface</servlet-name>
    <url-pattern>/ryf/recoInte</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlerPic</servlet-name>
    <url-pattern>/HandlerPic</url-pattern>
  </servlet-mapping>
  <!-- RefreshMinfoAndGateConfig -->
  <servlet-mapping>
    <servlet-name>RefreshMinfoAndGateConfig</servlet-name>
 	<url-pattern>/go/refreshAll</url-pattern>
 </servlet-mapping>
 <!-- GetSuperBankId -->
  <servlet-mapping>
    <servlet-name>GetSuperBankId</servlet-name>
 	<url-pattern>/go/getSuperBankId</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>out</servlet-name>
 	<url-pattern>/out</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>in</servlet-name>
 	<url-pattern>/in</url-pattern>
 </servlet-mapping>
  <servlet>
    <servlet-name>SendSMS</servlet-name>
    <servlet-class>com.rongyifu.mms.servlet.SendSMS</servlet-class>
  </servlet>


   <servlet-mapping>
    <servlet-name>SendSMS</servlet-name>
    <url-pattern>/sms/send</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>uploadFile</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <error-page>
    <error-code>404</error-code>
    <location>/welcome.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>